@import "tailwindcss";

@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(-110vh) scale(1.3);
    opacity: 0;
  }
}

.animate-floatUp {
  animation: floatUp ease-out infinite;
}
